body.layout-multiple-columns {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    :is(.app-holder, .app-holder > div, .columns-area) {
        height: 100%;
    }

    .ui {
        display: flex;
        flex: 0 0 auto;
    }
}
