@use "variables" as *;

/* 🦥 GoToSocial */

/* Variables */
:root {
  --drawer-border-radius: 8px;
  --button-border-radius: 6px;
}

/* Icons debug */
.fa {
  background: red;
}

/* Diff */
.gts-icon {
  --size: 1em;

  display: inline-block;
  width: var(--size);
  height: var(--size);
}

.gts-icon-with-badge {
  position: relative;
  display: block;

  &__badge {
    --size: 20px;

    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 4px;
    min-width: var(--size);
    height: var(--size);
    box-sizing: border-box;
    border: 2px solid var(--color-bg);
    border-radius: 50%;
    color: var(--color-badge-fg);
    font-size: 10px;
    font-weight: 500;
    background: var(--color-badge-bg);
  }

  &__issue-badge {
    position: absolute;
    background: $error-red;
  }

  .gts-icon {
    display: block;
  }
}

.drawer__tab .gts-icon,
.column-header .gts-icon,
.column-link .gts-icon,
.local-settings__navigation__item .gts-icon {
  --size: 24px;
}

.navigation-panel {
  justify-content: start;
}

.column-header__icon {
  margin: 0;
}

.column-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.column-link__icon {
  margin: 0;
}

.search__icon > svg {
  display: none;
  position: absolute;
  top: 16px;
  inset-inline-end: 10px;
  width: 18px;
  height: 18px;
  color: $secondary-text-color;

  &.active {
    display: block;
  }
}

.notification__filter-bar svg,
.status__info__icons svg {
  --size: 18px;

  width: var(--size);
  height: var(--size);
}

.detailed-status__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1ch;
}

.column-header__back-button,
.column-back-button,
.detailed-status__link {
  display: flex;
  align-items: center;
}

.column-back-button--slim-button svg {
  margin-block: -3px;
}

.detailed-status__meta svg {
  --size: 16px;

  width: var(--size);
  height: var(--size);
}

.notification__favourite-icon-wrapper svg {
  --size: 16px;

  width: var(--size);
  height: var(--size);
  color: $highlight-text-color;
}
