@import "styles/fonts/roboto";
@import "reset";

:root {
    --color-bg: #191b22;
    --color-fg: #fff;
}

body {
    color: var(--color-fg);
    font-family: ui-rounded, mastodon-font-sans-serif, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background: var(--color-bg);
}

.login-container {
    --login-row-gap: 10px;

    display: grid;
    row-gap: var(--login-row-gap);
    margin: 50px auto;
    padding: 1rem;
    max-width: 30rem;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;

    img {
        height: 150px;
    }
}

main {
    display: flex;
    flex-direction: column;
    row-gap: var(--login-row-gap);
}

h1 {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 15px;
}

label {
    font-family: inherit;
    color: var(--color-fg);
    display: block;
    word-wrap: break-word;
    font-weight: 500;
    grid-column: 1 / -1;
}

form {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr min-content;
}

:focus-visible,
button:focus-visible {
    outline: 2px solid #66befe;
    outline-offset: 3px;
}

button {
    padding: 7px 10px;
    border: 1px solid lighten(#66befe, 7%);
    border-radius: 4px;
    box-sizing: border-box;
    color: #2a2b2f;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    background-color: #66befe;

    &:hover {
        background-color: #89caff;
    }

    &:disabled {
        background-color: #9baec8;
        cursor: default;
    }
}

input[type="text"] {
    display: block;
    margin: 0;
    padding: 15px;
    border: 1px solid lighten(#282c37, 7%);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    color: #9baec8;
    font-family: inherit;
    font-size: inherit;
    line-height: 18px;
    background: #282c37;
}

.content {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid lighten(#39404f, 7%);
    color: #fff;
    background-color: #39404f;
}

.link-footer {
    padding-inline: 10px;
    color: #97a8b4;
    font-size: 0.875rem;

    a {
        color: inherit;
    }
}
