/* 📏 Sizes */
:root {
    /* Layout: larger elements, mostly containers */
    --size-layout-gap: 10px;
    --size-layout-radius: 8px;

    /* UI: smaller elements such as form elements and icons */
    --size-ui-gap: 5px;
    --size-ui-radius: 6px;

    /* Components */
    --size-avatar: 46px;
    --size-icon: 20px;
    --size-header-block: #{$ui-header-height};
}
