@use "sass:color";

// Dependent colors
$black: #000000;

$classic-base-color: #282c37;
$classic-primary-color: #9baec8;
$classic-secondary-color: #d9e1e8;
$classic-highlight-color: #6364ff;

$ui-base-color: $classic-base-color !default;
$ui-primary-color: $classic-primary-color !default;
$ui-secondary-color: $classic-secondary-color !default;
$ui-highlight-color: $classic-highlight-color !default;

$darker-text-color: color.adjust($ui-primary-color, $lightness: 20%) !default;
$dark-text-color: color.adjust($ui-primary-color, $lightness: 12%) !default;
$secondary-text-color: color.adjust(
  $ui-secondary-color,
  $lightness: 6%
) !default;
$highlight-text-color: color.adjust(
  $ui-highlight-color,
  $lightness: 10%
) !default;
$action-button-color: color.adjust($ui-base-color, $lightness: 50%);

$inverted-text-color: $black !default;
$lighter-text-color: color.adjust($ui-base-color, $lightness: -6%) !default;
$light-text-color: color.adjust($ui-primary-color, $lightness: -40%) !default;
