.column-header {
    display: flex;
    margin: 0;
    font-size: max(16px, 1rem);
    font-weight: bold;
    backdrop-filter: blur(20px);
}

.column-header > button {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 15px;
    padding-inline-start: 15px;
    color: var(--color-content-fg);
    background: var(--color-content-bg);

    &:hover {
        color: inherit;
        background-color: transparent;
    }
}

.column-header__buttons {
    display: flex;
    gap: var(--size-ui-gap);
    padding: 5px;

    > button {
        background-color: transparent;
    }
}
