@use "sass:color";
@use "../mixins" as *;
@use "../variables" as *;

.drawer {
  display: flex;
  gap: var(--size-layout-gap);
  flex: none;
  flex-direction: column;
  padding: 10px 5px;
  width: 300px;
  box-sizing: border-box;
  overflow-y: hidden;

  &:first-child {
    padding-inline-start: 10px;
  }

  &:last-child {
    padding-inline-end: 10px;
  }

  @include single-column("screen and (max-width: 630px)") {
    flex: auto;
  }

  @include limited-single-column("screen and (max-width: 630px)") {
    &,
    &:first-child,
    &:last-child {
      padding: 0;
    }
  }

  .wide & {
    min-width: 300px;
    max-width: 400px;
    flex: 1 1 200px;
  }

  @include single-column("screen and (max-width: 630px)") {
    :root & {
      //  Overrides `.wide` for single-column view
      flex: auto;
      width: 100%;
      min-width: 0;
      max-width: none;
      padding: 0;
    }
  }

  .react-swipeable-view-container & {
    height: 100%;
  }
}

.drawer__header {
  display: flex;
  gap: 10px;
  padding: 4px;
  border: 1px solid var(--color-drawer-lines);
  border-radius: var(--drawer-border-radius);
  color: var(--color-drawer-fg);
  font-size: 16px;
  font-weight: 700;
  background: var(--color-drawer-bg);

  a {
    transition: background 100ms ease-in;

    &:focus-visible,
    &:hover {
      background: var(--color-drawer-bg--hover);
      transition: background 200ms ease-out;
    }
  }
}

.layout-multiple-columns .drawer__tab {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 8px;
  border: 0;
  border-radius: var(--button-border-radius);
  color: inherit;
  font: inherit;
  text-decoration: none;
  background: transparent;
  transition: all 0.3s;

  .gts-icon {
    --size: 24px;

    display: block;
  }

  &:focus-visible,
  &:hover,
  &.active {
    background: color.adjust($ui-base-color, $lightness: -4%);
  }
}

.layout-multiple-columns .drawer__tab:active {
  transform: scale(0.9);
}

.search {
  position: relative;
  flex: none;

  @include limited-single-column(
    "screen and (max-width: #{$no-gap-breakpoint})"
  ) {
    margin-bottom: 0;
  }
  @include single-column("screen and (max-width: 630px)") {
    font-size: 16px;
  }
}

.navigation-bar {
  padding: 10px;
  color: $darker-text-color;
  display: flex;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
  }

  .acct {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    strong {
      color: $secondary-text-color;
      font-weight: 500;
    }
  }
}

.navigation-bar__profile {
  flex: 1 1 auto;
  margin-inline-start: 8px;
  overflow: hidden;
}

.navigation-bar .compose__action-bar button {
  display: flex;
  padding: 6px;

  svg.gts-icon {
    --size: 20px;
  }
}

.drawer--results {
  overflow-x: hidden;
  overflow-y: scroll;
}

.search-results__section {
  border-bottom: 1px solid color.adjust($ui-base-color, $lightness: 8%);

  &:last-child {
    border-bottom: 0;
  }

  &__header {
    background: color.adjust($ui-base-color, $lightness: -4%);
    border-bottom: 1px solid color.adjust($ui-base-color, $lightness: 8%);
    padding: 15px;
    font-weight: 500;
    font-size: 14px;
    color: $darker-text-color;
    display: flex;
    justify-content: space-between;

    h3 .fa {
      margin-inline-end: 5px;
    }

    button {
      color: $highlight-text-color;
      padding: 0;
      border: 0;
      background: 0;
      font: inherit;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .account:last-child,
  & > div:last-child .status {
    border-bottom: 0;
  }

  & > .hashtag {
    display: block;
    padding: 10px;
    color: $secondary-text-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: color.adjust($secondary-text-color, $lightness: 4%);
      text-decoration: underline;
    }
  }
}

.drawer__pager {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding: 0;
  border: 1px solid var(--color-lines);
  border-radius: var(--drawer-border-radius);
  box-sizing: border-box;
  overflow: hidden;
}

.drawer__inner {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  background: var(--color-drawer-bg);
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;

  &.darker {
    background: $ui-base-color;
  }
}

.drawer__inner__mastodon {
  background: color.adjust($ui-base-color, $lightness: 4%)
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.80078 31.757813" width="234.80078" height="31.757812"><path d="M19.599609 0c-1.05 0-2.10039.375-2.90039 1.125L0 16.925781v14.832031h234.80078V17.025391l-16.5-15.900391c-1.6-1.5-4.20078-1.5-5.80078 0l-13.80078 13.099609c-1.6 1.5-4.19883 1.5-5.79883 0L179.09961 1.125c-1.6-1.5-4.19883-1.5-5.79883 0L159.5 14.224609c-1.6 1.5-4.20078 1.5-5.80078 0L139.90039 1.125c-1.6-1.5-4.20078-1.5-5.80078 0l-13.79883 13.099609c-1.6 1.5-4.20078 1.5-5.80078 0L100.69922 1.125c-1.600001-1.5-4.198829-1.5-5.798829 0l-13.59961 13.099609c-1.6 1.5-4.200781 1.5-5.800781 0L61.699219 1.125c-1.6-1.5-4.198828-1.5-5.798828 0L42.099609 14.224609c-1.6 1.5-4.198828 1.5-5.798828 0L22.5 1.125C21.7.375 20.649609 0 19.599609 0z"/></svg>')
    no-repeat bottom / 100% auto;
  flex: 1;
  min-height: 47px;
  display: none;

  > img {
    display: block;
    object-fit: contain;
    object-position: bottom left;
    width: 85%;
    height: 100%;
    pointer-events: none;
    user-select: none;
  }

  > .mastodon {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    cursor: inherit;
  }

  @media screen and (height >= 640px) {
    display: block;
  }
}

.pseudo-drawer {
  background: color.adjust($ui-base-color, $lightness: 13%);
  font-size: 13px;
  text-align: start;
}

.drawer__backdrop {
  cursor: pointer;
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background: rgba($base-overlay-background, 0.5);
}

@for $i from 0 through 3 {
  .mbstobon-#{$i} .drawer__inner__mastodon {
    @if $i == 3 {
      background:
        url("~flavours/glitch/images/wave-drawer.png")
          no-repeat
          bottom /
          100%
          auto,
        color.adjust($ui-base-color, $lightness: 4%);
    } @else {
      background:
        url("~flavours/glitch/images/wave-drawer-glitched.png")
          no-repeat
          bottom /
          100%
          auto,
        color.adjust($ui-base-color, $lightness: 4%);
    }

    & > .mastodon {
      background: url("~flavours/glitch/images/mbstobon-ui-#{$i}.png")
        no-repeat
        left
        bottom /
        contain;

      @if $i != 3 {
        filter: contrast(50%) brightness(50%);
      }
    }
  }
}
