/* Scrollbars */
html {
  scrollbar-color: lighten($ui-base-color, 4%)
    rgba($base-overlay-background, 0.1);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: lighten($ui-base-color, 4%);
  border: 0 none $base-border-color;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($ui-base-color, 6%);
}

::-webkit-scrollbar-thumb:active {
  background: lighten($ui-base-color, 4%);
}

::-webkit-scrollbar-track {
  border: 0 none $base-border-color;
  border-radius: 0;
  background: rgba($base-overlay-background, 0.1);
}

::-webkit-scrollbar-track:hover {
  background: $ui-base-color;
}

::-webkit-scrollbar-track:active {
  background: $ui-base-color;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
