@use "sass:color";
@use "../mixins" as *;
@use "../variables" as *;

/* Scrollbars */
html {
  scrollbar-color: color.adjust($ui-base-color, $lightness: 4%)
    rgba($base-overlay-background, 0.1);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: color.adjust($ui-base-color, $lightness: 4%);
  border: 0 none $base-border-color;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: color.adjust($ui-base-color, $lightness: 6%);
}

::-webkit-scrollbar-thumb:active {
  background: color.adjust($ui-base-color, $lightness: 4%);
}

::-webkit-scrollbar-track {
  border: 0 none $base-border-color;
  border-radius: 0;
  background: rgba($base-overlay-background, 0.1);
}

::-webkit-scrollbar-track:hover {
  background: $ui-base-color;
}

::-webkit-scrollbar-track:active {
  background: $ui-base-color;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
