@font-face {
  font-family: mastodon-font-monospace;
  src:
    local("Roboto Mono"),
    url("~fonts/roboto-mono/robotomono-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
