@font-face {
  font-family: mastodon-font-sans-serif;
  src:
    local("Roboto Italic"),
    url("~fonts/roboto/roboto-italic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: mastodon-font-sans-serif;
  src:
    local("Roboto Bold"),
    url("~fonts/roboto/roboto-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: mastodon-font-sans-serif;
  src:
    local("Roboto Medium"),
    url("~fonts/roboto/roboto-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: mastodon-font-sans-serif;
  src:
    local("Roboto"),
    url("~fonts/roboto/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
