/* 🎨 Colors */
:root {
  color-scheme: light;

  /* Base */
  --color-fg: #000;
  --color-bg: #eff3f5;

  /* Accent */
  --color-accent-bg: #d9e1e8;
  --color-accent-fg: #282c37;
  --color-accent-lines: #c0cdd9;

  /* Notifications */
  --color-notifications-bg--active: #fff;
  --color-notifications-bg--hover: #fff9;

  /* Search */
  --color-search-bg--focus: #ccd7e0;
  --color-search-fg: #282c37;
  --color-search-fg--focus: var(--color-fg);
  --color-search-placeholder: var(--color-search-fg);
  --color-search-placeholder--focus: #5e6a7a;

  /* Status */
  --color-status-fg: var(--color-fg);
  --color-status-bg: #fff;
}
