/* 🚥 Status: Content */
.status__content__text {
    > :first-child {
        margin-block-start: 0;
    }

    > :last-child {
        margin-block-end: 0;
    }
}

.status__content__text a {
    color: var(--color-accent);
    text-decoration-line: underline;
    text-decoration-color: var(--color-accent-bg);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    &:hover {
        text-decoration-color: var(--color-accent);
    }
}

.status__content__text a.mention {
    text-decoration: none;

    span {
        text-decoration-line: underline;
        text-decoration-color: var(--color-accent-bg);
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
    }

    &:is(:active, :focus, :hover) span {
        text-decoration-color: var(--color-accent);
    }
}
