/* 🚥 Status Bar */
.no-reduce-motion .status-favourite.active svg {
    animation: bounce 0.4s ease-out;
}

.no-reduce-motion .status-boost.active svg {
    animation: launch 1.2s ease-in 1;
}

.no-reduce-motion .status-bookmark.active svg {
    animation: bounce-vertical 0.4s ease-out;
}
