/* 🚥 Status: Prepend */
.status__prepend {
    display: inline-flex;
    align-items: center;
    align-self: start;
    gap: 5px;
    padding: 5px 10px;
    border: 1px solid var(--color-accent-lines);
    border-radius: 50px;
    color: var(--color-accent-fg);
    font-size: 13px;
    font-weight: 500;
    background-color: var(--color-accent-bg);

    &:focus-within {
        outline: 2px solid var(--color-accent-focus);
        outline-offset: 3px;
    }
}

.status__prepend-icon {
    --size-icon: 18px;

    display: block;
}

.status__prepend-display-name {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--color-accent-muted-fg);

    &:hover {
        color: inherit;
        text-decoration-thickness: 2px;
    }

    &:focus-visible {
        color: var(--color-accent-focus);
        outline-color: transparent;
    }
}
